<% content_for :title, "Iniciar sesión" %>

<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md border border-gray-200"
       data-controller="login"
       data-login-api-url-value="/api/token"
       data-login-redirect-path-value="/home">

    <%# Logo %>
    <div class="text-center mb-8 p-4">
      <svg id="Capa_1" 
          role="img" 
          xmlns="http://www.w3.org/2000/svg"  
          data-name="Capa 1" 
          viewBox="0 0 1065.73 253.9" 
          data-testid="login-logo">
      <defs>
        <style>
          .cls-1 {
            fill: #595a5a;
          }

          .cls-2 {
            fill: #f0ba40;
          }

          .cls-3 {
            fill: #ecba44;
          }

          .cls-4 {
            fill: #ecb744;
          }

          .cls-5 {
            fill: #3d7eb5;
          }
        </style>
      </defs>
      <path class="cls-1" d="M143.73,253.15v-42.89h21.68v3.88h-17.39v15.53h16.75v3.88h-16.75v19.59h-4.29Z"/>
      <path class="cls-1" d="M204.42,253.15v-5.56h-.12c-2.61,3.94-7.19,6.32-12.35,6.32-9.5,0-17.04-7.19-17.04-16.69s7.77-16.58,17.04-16.58c5.28,0,9.8,2.38,12.35,6.38h.12v-5.56h4.06v31.7h-4.06ZM204.65,237.32c0-7.07-5.56-13.04-12.75-13.04s-12.92,5.56-12.92,13.1,5.5,12.86,12.98,12.86c7.07,0,12.69-5.79,12.69-12.93Z"/>
      <path class="cls-1" d="M251.95,243.81c-3.25,6.43-8.41,10.08-15.77,10.08-9.45,0-17.04-7.01-17.04-16.92,0-8.69,7.65-16.35,17.04-16.35,6.96,0,13.16,3.89,15.77,10.38h-4.46c-2.38-4.4-6.61-6.72-11.19-6.72-7.3,0-13.1,5.74-13.1,12.93s5.74,13.04,13.1,13.04c4.81,0,8.92-2.2,11.19-6.43h4.46Z"/>
      <path class="cls-1" d="M266.45,253.15v-28.05h-6.67v-3.65h6.67v-11.19h4.06v11.19h7.59v3.65h-7.59v28.05h-4.06Z"/>
      <path class="cls-1" d="M310.85,253.15v-4.93h-.12c-1.8,3.65-5.51,5.68-10.08,5.68-6.78,0-13.74-3.59-13.74-14.32v-18.14h4.06v17.68c0,7.19,3.07,11.13,9.68,11.13,5.45,0,9.97-3.82,9.97-11.42v-17.39h4.06v31.7h-3.82Z"/>
      <path class="cls-1" d="M327.03,253.15v-31.7h4.06v4.58h.12c1.39-3.3,3.82-5.1,8.92-5.39v4.29h-.06c-5.85.58-8.98,4.4-8.98,9.51v18.72h-4.06Z"/>
      <path class="cls-1" d="M376.93,253.15v-5.56h-.12c-2.61,3.94-7.19,6.32-12.35,6.32-9.5,0-17.04-7.19-17.04-16.69s7.77-16.58,17.04-16.58c5.28,0,9.8,2.38,12.35,6.38h.12v-5.56h4.06v31.7h-4.06ZM377.16,237.32c0-7.07-5.56-13.04-12.75-13.04s-12.92,5.56-12.92,13.1,5.5,12.86,12.98,12.86c7.07,0,12.69-5.79,12.69-12.93Z"/>
      <path class="cls-1" d="M424.46,243.81c-3.25,6.43-8.41,10.08-15.77,10.08-9.45,0-17.04-7.01-17.04-16.92,0-8.69,7.65-16.35,17.04-16.35,6.96,0,13.16,3.89,15.77,10.38h-4.46c-2.38-4.4-6.61-6.72-11.19-6.72-7.3,0-13.1,5.74-13.1,12.93s5.74,13.04,13.1,13.04c4.81,0,8.92-2.2,11.19-6.43h4.46Z"/>
      <path class="cls-1" d="M435.25,217.56v-7.3h4.06v7.3h-4.06ZM435.25,253.15v-31.7h4.06v31.7h-4.06Z"/>
      <path class="cls-1" d="M450.21,237.5c0-9.33,7.53-16.87,16.52-16.87s16.63,7.77,16.63,16.63-7.71,16.63-16.63,16.63-16.52-7.59-16.52-16.4ZM479.3,237.09c0-6.9-5.56-12.81-12.58-12.81s-12.46,5.97-12.46,13.16,5.62,12.81,12.52,12.81,12.52-5.91,12.52-13.16ZM464.06,217.27l-1.91-3.36,11.53-6.32,1.85,3.48-11.48,6.2Z"/>
      <path class="cls-1" d="M518.03,253.15v-17.68c0-7.13-4.29-11.19-9.85-11.19-6.14,0-9.91,4.7-9.91,10.9v17.97h-4.06v-31.7h4.06v4.06h.12c2.03-3.07,5.62-4.87,9.74-4.87,8.75,0,13.97,6.03,13.97,14.84v17.68h-4.06Z"/>
      <path class="cls-1" d="M557.62,238.77c.35,6.32,6.14,11.47,12.29,11.47,4.93,0,9.62-2.84,11.36-7.48h4.29c-2.43,6.84-8.81,11.13-15.59,11.13-8.98,0-16.52-7.3-16.52-16.58s7.59-16.69,16.46-16.69c9.51,0,16.63,8.17,16.63,16.93,0,.4-.06.81-.06,1.22h-28.86ZM582.37,235.12c-1.16-6.37-6.2-10.84-12.46-10.84-5.91,0-11.19,4.29-12.29,10.84h24.75Z"/>
      <path class="cls-1" d="M597.39,253.15v-42.89h4.06v42.89h-4.06Z"/>
      <path class="cls-1" d="M616.28,238.77c.35,6.32,6.14,11.47,12.29,11.47,4.93,0,9.62-2.84,11.36-7.48h4.29c-2.43,6.84-8.81,11.13-15.59,11.13-8.98,0-16.52-7.3-16.52-16.58s7.59-16.69,16.46-16.69c9.51,0,16.63,8.17,16.63,16.93,0,.4-.06.81-.06,1.22h-28.86ZM641.03,235.12c-1.16-6.37-6.2-10.84-12.46-10.84-5.91,0-11.19,4.29-12.29,10.84h24.75Z"/>
      <path class="cls-1" d="M687.46,243.81c-3.25,6.43-8.41,10.08-15.77,10.08-9.45,0-17.04-7.01-17.04-16.92,0-8.69,7.65-16.35,17.04-16.35,6.96,0,13.16,3.89,15.77,10.38h-4.46c-2.38-4.4-6.61-6.72-11.19-6.72-7.3,0-13.1,5.74-13.1,12.93s5.74,13.04,13.1,13.04c4.81,0,8.92-2.2,11.19-6.43h4.46Z"/>
      <path class="cls-1" d="M701.96,253.15v-28.05h-6.67v-3.65h6.67v-11.19h4.06v11.19h7.59v3.65h-7.59v28.05h-4.06Z"/>
      <path class="cls-1" d="M722.59,253.15v-31.7h4.06v4.58h.12c1.39-3.3,3.82-5.1,8.92-5.39v4.29h-.06c-5.85.58-8.98,4.4-8.98,9.51v18.72h-4.06Z"/>
      <path class="cls-1" d="M743,237.5c0-9.33,7.53-16.87,16.52-16.87s16.63,7.77,16.63,16.63-7.71,16.63-16.63,16.63-16.52-7.59-16.52-16.4ZM772.1,237.09c0-6.9-5.56-12.81-12.58-12.81s-12.46,5.97-12.46,13.16,5.62,12.81,12.52,12.81,12.52-5.91,12.52-13.16ZM756.85,217.27l-1.91-3.36,11.53-6.32,1.85,3.48-11.48,6.2Z"/>
      <path class="cls-1" d="M810.82,253.15v-17.68c0-7.13-4.29-11.19-9.85-11.19-6.14,0-9.91,4.7-9.91,10.9v17.97h-4.06v-31.7h4.06v4.06h.12c2.03-3.07,5.62-4.87,9.74-4.87,8.75,0,13.97,6.03,13.97,14.84v17.68h-4.06Z"/>
      <path class="cls-1" d="M827.05,217.56v-7.3h4.06v7.3h-4.06ZM827.05,253.15v-31.7h4.06v31.7h-4.06Z"/>
      <path class="cls-1" d="M874.76,243.81c-3.25,6.43-8.41,10.08-15.77,10.08-9.45,0-17.04-7.01-17.04-16.92,0-8.69,7.65-16.35,17.04-16.35,6.96,0,13.16,3.89,15.77,10.38h-4.46c-2.38-4.4-6.61-6.72-11.19-6.72-7.3,0-13.1,5.74-13.1,12.93s5.74,13.04,13.1,13.04c4.81,0,8.92-2.2,11.19-6.43h4.46Z"/>
      <path class="cls-1" d="M913.71,253.15v-5.56h-.12c-2.61,3.94-7.19,6.32-12.35,6.32-9.5,0-17.04-7.19-17.04-16.69s7.77-16.58,17.04-16.58c5.28,0,9.8,2.38,12.35,6.38h.12v-5.56h4.06v31.7h-4.06ZM913.94,237.32c0-7.07-5.56-13.04-12.75-13.04s-12.92,5.56-12.92,13.1,5.5,12.86,12.98,12.86c7.07,0,12.69-5.79,12.69-12.93Z"/>
      <g>
        <path class="cls-4" d="M1043.67,0l-106,.02c-.15,0-.3-.02-.45-.02s-.3.02-.45.02h-.62s.05.03.05.03c-13.47.48-24.27,10.19-24.27,22.09h0v9.9h-.12v5.98h43.87v115.79l6.84-5.83,4.48-3.82,10.82,9.65,11.01-9.63,10.99,9.61,10.85-9.5,11.16,9.46,10.95-9.58,10.96,9.59,11.03-9.48,3.54,3.08,7.42,6.44V19.3C1065.73,8.64,1055.85,0,1043.67,0ZM955.68,22.14v9.9h-36.92l-.02-9.9h0c0-8.92,8.29-16.18,18.49-16.18s18.49,7.26,18.49,16.18h-.03ZM1058.31,138.99l-3.53-3.05-11,9.45-11.01-9.63-11.02,9.65-11.16-9.46-10.78,9.43-10.99-9.61-10.96,9.59-10.74-9.58-4.61,3.89V22.14c0-6.1-2.84-11.64-7.42-15.65h81.15c12.18,0,22.05,8.64,22.05,19.3v113.2Z"/>
        <path class="cls-3" d="M1036.96,93.33c-3.28-.63-5.47-1.19-6.56-1.69-1.09-.49-1.63-1.29-1.63-2.4,0-1.8,1.69-2.7,5.06-2.69,3.36,0,5.12.95,5.29,2.86l6.44-.22c-.29-4.1-3.07-6.48-8.31-7.15v-5.12s-6.06,0-6.06,0v5.08c-2.4.29-4.33,1-5.77,2.12-1.95,1.52-2.93,3.38-2.94,5.58,0,2.05.76,3.76,2.28,5.13,1.52,1.37,4,2.4,7.42,3.07,3.42.67,5.6,1.29,6.53,1.85.93.56,1.39,1.42,1.39,2.56,0,2.59-1.91,3.89-5.74,3.88-4.08,0-6.35-1.55-6.82-4.64l-6.37.51c.91,5.04,4.25,7.91,10,8.65v4.66s6.07,0,6.07,0v-4.7c2.02-.32,3.87-.99,5.56-2.01,2.47-1.5,3.71-3.63,3.71-6.39,0-2.37-.77-4.29-2.31-5.76-1.54-1.48-3.95-2.53-7.23-3.17Z"/>
        <rect class="cls-3" x="969.59" y="105.61" width="43.69" height="9.75" rx="1.86" ry="1.86"/>
        <rect class="cls-3" x="969.59" y="76.91" width="43.69" height="9.75" rx="1.86" ry="1.86"/>
        <rect class="cls-3" x="969.59" y="48.21" width="76.91" height="9.75" rx="1.86" ry="1.86"/>
      </g>
      <g>
        <path class="cls-5" d="M137.34,118.65c-7.03,10.21-16.07,18.43-27.37,24.15-10.8,5.73-22.6,8.47-35.4,8.47-20.84,0-38.92-7.97-52.73-21.66C8.03,115.91,0,97.98,0,77.31S8.03,38.72,21.84,25.02C35.65,11.33,53.73,3.36,74.57,3.36c12.3,0,23.85,2.99,33.89,7.97,10.55,5.48,19.33,12.95,26.61,22.66l-20.84,14.94c-4.52-6.22-10.29-10.96-17.32-14.69-7.03-3.74-14.56-5.48-22.34-5.48-13.31,0-25.36,5.48-34.4,14.44-9.04,8.96-14.56,20.92-14.56,34.11s5.52,25.4,14.56,34.36c8.79,8.71,20.59,14.19,34.4,14.19,8.79,0,16.57-1.99,23.6-5.73,7.28-3.74,13.31-8.97,18.08-15.69l21.09,14.19Z"/>
        <path class="cls-5" d="M737.38,118.65c-7.03,10.21-16.07,18.43-27.37,24.15-10.8,5.73-22.6,8.47-35.4,8.47-20.84,0-38.92-7.97-52.73-21.66-13.81-13.7-21.84-31.62-21.84-52.29s8.03-38.6,21.84-52.29c13.81-13.7,31.89-21.66,52.73-21.66,12.3,0,23.85,2.99,33.89,7.97,10.55,5.48,19.33,12.95,26.61,22.66l-20.84,14.94c-4.52-6.22-10.29-10.96-17.32-14.69-7.03-3.74-14.56-5.48-22.34-5.48-13.31,0-25.36,5.48-34.4,14.44-9.04,8.96-14.56,20.92-14.56,34.11s5.52,25.4,14.56,34.36c8.79,8.71,20.59,14.19,34.4,14.19,8.79,0,16.57-1.99,23.6-5.73,7.28-3.74,13.31-8.97,18.08-15.69l21.09,14.19Z"/>
        <polygon class="cls-5" points="143.45 150.13 143.45 4.49 169.05 4.49 169.05 122.8 216.26 122.8 216.26 149.87 169.05 149.87 143.45 150.13"/>
        <path class="cls-5" d="M314.11,116.62h-49.71l-15.06,33.51h-28.12l56.72-121.93,12.4-25.98,11.5,25.28,56.21,122.63h-28.12l-15.82-33.51ZM275.94,91.49h26.11l-13.31-28.53-12.8,28.53ZM288.75,62.95l-12.8,28.53,12.8-28.53Z"/>
        <polygon class="cls-5" points="444.38 4.49 389.14 127.01 378.02 152.4 365.8 127.01 308.16 4.49 338.43 4.49 377.59 90.6 416.26 4.49 444.38 4.49"/>
        <polygon class="cls-5" points="450.02 150.13 475.62 150.13 475.62 26.71 450.02 45.06 450.02 150.13"/>
        <polygon class="cls-2" points="450.02 4.49 450.02 33.59 475.62 15.25 475.62 4.49 450.02 4.49"/>
        <path class="cls-5" d="M809.24,3.36c-41.12,0-74.46,33.11-74.46,73.96s33.34,73.96,74.46,73.96,74.46-33.11,74.46-73.96S850.36,3.36,809.24,3.36ZM815.69,83.09l-.03,18.86h2.07c2.81,0,5.1,2.3,5.1,5.09,0,2.79-2.31,5.07-5.12,5.07h-2.07s-.01,6.79-.01,6.79h5.68c2.81.01,5.1,2.3,5.1,5.09,0,2.79-2.31,5.07-5.12,5.06h-5.7c-.1,3.83-3.28,6.94-7.16,6.93-3.94,0-7.16-3.21-7.15-7.13l.08-46.49c-11.64-3.62-20.09-14.42-20.09-27.18,0-15.73,12.84-28.48,28.68-28.48s28.68,12.75,28.68,28.48c0,13.78-9.85,25.27-22.93,27.91Z"/>
        <g>
          <path class="cls-5" d="M595.29,111.16c0,27.01-23.28,40.14-53.89,40.14-28.83,0-50.4-15.88-56.56-30.69l21.15-14.38c3.11,6.22,13.18,18.57,33.8,20.45,19.23,1.78,26.82-7.53,28.07-10.19,9.77-20.66-25.95-26.9-33.18-29.08l.02-.04c-18.95-5.65-41.77-17.02-41.77-43.38s24.6-40.63,48.48-40.63c30.9,0,43.95,18.93,46.42,24.11l-20.39,14.66c-5.94-10.81-17.03-15.27-27.05-15.27-9.03,0-17.3,4.23-20.43,11-4.8,10.64-1.31,20.96,32.66,29.63,23.16,5.9,42.68,17.73,42.68,43.67Z"/>
          <line class="cls-5" x1="484.84" y1="120.61" x2="484.82" y2="120.59"/>
        </g>
      </g>
    </svg>
    </div>

    <%# ---- Formulario principal ---- %>
    <div id="login-form" data-login-target="loginForm">
      <div class="space-y-4">

        <%# Email %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
            </svg>
          </div>
          <input type="email"
                 id="loginUser"
                 data-login-target="email"
                 data-testid="email"
                 placeholder="Correo electrónico"
                 maxlength="450"
                 required
                 class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors"
                 data-action="keydown.enter->login#login">
          <p class="text-red-500 text-sm mt-1 hidden" data-login-target="emailError">
            Ingrese un correo electrónico válido
          </p>
        </div>

        <%# Password %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
            </svg>
          </div>
          <input data-login-target="password"
                 id="loginPass"
                 data-testid="password"
                 placeholder="Contraseña"
                 required
                 minlength="8"
                 maxlength="30"
                 class="w-full pl-10 pr-12 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors"
                 data-action="keydown.enter->login#login"
                 type="password">
          <button type="button"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center"
                  data-action="click->login#togglePassword">
            <svg data-login-target="eyeIcon" class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"/>
            </svg>
          </button>
          <p class="text-red-500 text-sm mt-1 hidden" data-login-target="passwordError">
            La contraseña debe tener un mínimo de 8 caracteres
          </p>
        </div>

        <%# Botón submit %>
        <button type="button"
                data-action="click->login#login"
                data-login-target="submitButton"
                data-testid="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-4 rounded-lg transition-colors focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed">
          <span data-login-target="buttonText">Ingresar</span>
          <span data-login-target="buttonLoading" class="hidden">
            <svg class="animate-spin h-5 w-5 mx-auto" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </span>
        </button>

        <%# Links %>
        <div class="flex items-center justify-evenly text-sm text-gray-600">
          <a href="#" data-action="click->login#showRecoverPassword" class="hover:text-gray-900 cursor-pointer">
            ¿Olvidó su contraseña?
          </a>
          <span class="text-gray-300">|</span>
          <a href="#" data-action="click->login#showChangePassword" class="hover:text-gray-900 cursor-pointer">
            Cambiar contraseña
          </a>
        </div>

        <%# Copyright %>
        <div class="text-center text-gray-500 text-sm mt-8">
          <p>© <%= Date.current.year %> Clavis Consultores</p>
        </div>

      </div>
    </div>

    <%# ---- Formulario recuperar contraseña ---- %>
    <div id="recover-password-form" class="hidden" data-login-target="recoverForm">
      <div class="space-y-4">

        <h2 class="text-lg font-semibold text-gray-800 text-center">Recuperar contraseña</h2>

        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
            </svg>
          </div>
          <input type="email"
                 data-login-target="recoverEmail"
                 placeholder="Correo electrónico"
                 maxlength="450"
                 required
                 class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors">
        </div>

        <button type="button"
                data-action="click->login#sendRecoverEmail"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-4 rounded-lg transition-colors">
          Enviar correo de recuperación
        </button>

        <div class="text-center text-sm">
          <a href="#" data-action="click->login#showLogin" class="text-gray-600 hover:text-gray-900 cursor-pointer">
            Iniciar sesión
          </a>
        </div>

        <div class="text-center text-gray-500 text-sm mt-8">
          <p>© <%= Date.current.year %> Clavis Consultores</p>
        </div>

      </div>
    </div>

    <%# ---- Formulario cambiar contraseña ---- %>
    <div id="change-password-form" class="hidden" data-login-target="changePasswordForm">
      <div class="space-y-4">

        <h2 class="text-lg font-semibold text-gray-800 text-center">Cambiar contraseña</h2>

        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
            </svg>
          </div>
          <input type="email"
                 data-login-target="changeEmail"
                 placeholder="Correo electrónico"
                 maxlength="450"
                 required
                 class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors">
        </div>

        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
            </svg>
          </div>
          <input type="password"
                 data-login-target="currentPassword"
                 placeholder="Contraseña actual"
                 minlength="8"
                 maxlength="30"
                 required
                 class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors">
        </div>

        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
            </svg>
          </div>
          <input type="password"
                 data-login-target="newPassword"
                 placeholder="Nueva contraseña"
                 minlength="8"
                 maxlength="30"
                 required
                 class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors">
        </div>

        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
            </svg>
          </div>
          <input type="password"
                 data-login-target="confirmPassword"
                 placeholder="Confirmar contraseña"
                 minlength="8"
                 maxlength="30"
                 required
                 class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors">
        </div>

        <button type="button"
                data-action="click->login#changePassword"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-4 rounded-lg transition-colors">
          Cambiar contraseña
        </button>

        <div class="text-center text-sm">
          <a href="#" data-action="click->login#showLogin" class="text-gray-600 hover:text-gray-900 cursor-pointer">
            Iniciar sesión
          </a>
        </div>

        <div class="text-center text-gray-500 text-sm mt-8">
          <p>© <%= Date.current.year %> Clavis Consultores</p>
        </div>

      </div>
    </div>

    <%# Toast container %>
    <div id="toast-container" class="fixed top-4 right-4 z-50" data-login-target="toastContainer"></div>

  </div>
</div>
