<% content_for :title, "Editar Compañía" %>
<% content_for :page_title, "Editar Compañía" %>

<div data-controller="company-form"
     data-company-form-company-id-value="<%= params[:id] %>"
     data-testid="company-form-page"
     class="p-6">
  <%= render 'form' %>
</div>
