<% content_for :title, "Nueva Conexión SAP" %>
<% content_for :page_title, "Gestión de Conexiones SAP" %>

<div data-controller="connection-form"
     data-connection-form-connection-id-value="0"
     data-testid="connection-form-page"
     class="p-6">

  <%= render 'configurations/connections/form' %>

</div>
